p{
    text-align: justify;
}
.left{
    float: left;
    margin-right: 10px;
}
.right{
    float: right;
    margin-left: 10px;
}
#container{
    width: 21cm;
    border: 2px black solid;
    padding: 20px;
    padding-bottom: 50px;

}
img{
    border: 2px solid black;
    margin: 2px;
}
body{
    background-color: #BFDFDF;
}
